main{
  width:100%;
  height: calc(100vh - 60px);
  background-color: #1a253a;  
  margin-top: 60px;
  background-image: url(./image/KB001.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display:flex;
  justify-content: center;
  align-items:center;
  z-index: 100;
}

.main-aboutme { 
  max-width: 645px;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color:white;
}

/* MOBILE VERSION  */
 
@media only screen and (max-width: 600px) { 
  .main-aboutme { 
    display: none;     
  }
}
  